<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Mail</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'mail.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope"></i>
      List of Emails
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'mail.rejected.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope"></i>
      Rejected Email
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'mail.message.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope-o"></i>
      Mail
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'mail.message.create' %}" class="pure-menu-link">
      <i class="fa fa-envelope-o"></i>
      Send Test Mail
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'mail.template.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope"></i>
      Mail template
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'mail.notify.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope"></i>
      Notifications
    </a>
  </div>
</div>
