{% extends "mail/base.html" %}

{% block sub_title %}
  Create Mandrill Template
{% endblock sub_title %}

{% block sub_heading %}
  Create Mandrill Template
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'mail/_access_remote_template.html' with template_type=template_type %}
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
