{% extends "mail/base.html" %}

{% block title %}
  List of emails

{% endblock title %}

{% block sub_heading %}
  List of emails
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate_with_parameters.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% with form=filter.form %}
        {% include '_form_filter.html' %}
      {% endwith %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if rejected_emails.exists %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Rejected Emails</th>
              <th>Date</th>
              <th>Reason</th>
              <th>Template</th>
            </tr>
          </thead>
          <tbody>
            {% for x in rejected_emails %}
              <tr valign="top">
                <td>
                  {{ x.email }}
                </td>
                <td>
                  {{ x.event_date|date:'d/m/Y H:i' }}
                </td>
                <td>
                  {{ x.reason }}
                </td>
                <td>
                  {{ x.template }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <br>
      {% if object_list %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Created</th>
              <th>Sent</th>
              <th>Email</th>
              <th>Retries</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            {% for x in object_list %}
              <tr valign="top">
                <td>
                  {{ x.created|date:'d/m/Y H:i' }}
                </td>
                <td>
                  {% if x.sent %}
                    <small>
                      {{ x.sent|date:'d/m/Y H:i' }}
                      {% if x.time_to_send_in_minutes > 30 %}
                        <span class="errorlist">
                          ({{ x.time_to_send }})
                        </span>
                      {% endif %}
                    </small>
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'mail.list' %}?email={{ x.email }}">
                    {{ x.email }}
                  </a>
                </td>
                <td>
                  {% if x.retry_count %}
                    {{ x.retry_count }}
                  {% endif %}
                </td>
                <td>
                  <small>
                    {{ x.message.subject }}
                    {% if x.message.template %}
                      ({{ x.message.template.slug }})
                    {% endif %}
                  </small>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>User has no emails</p>
      {% endif %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate_with_parameters.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
