{% extends "mail/base.html" %}

{% block title %}
  Mail templates
{% endblock title %}

{% block sub_heading %}
  Mail templates
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'mail.template.create.django' %}" class="pure-menu-link">
              <i class="fa fa-envelope"></i>
              Create Django Template
            </a>
          </li>
          {% if template_type == 'mandrill' %}
            <li class="pure-menu-item">
              <a href="{% url 'mail.template.create.mandrill' %}" class="pure-menu-link">
                <i class="fa fa-envelope"></i>
                Create Mandrill Template
              </a>
            </li>
          {% endif %}
          {% if template_type == 'sparkpost' %}
            <li class="pure-menu-item">
              <a href="{% url 'mail.template.create.sparkpost' %}" class="pure-menu-link">
                <i class="fa fa-envelope"></i>
                Create SparkPost Template
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Description</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for e in object_list %}
            <tr valign="top">
              <td>
                {# system templates cannot be edited #}
                {% if not e.is_system %}
                  {% if e.is_mandrill %}
                    <a href="{% url 'mail.template.update.mandrill' e.pk %}">
                  {% elif e.is_sparkpost %}
                    <a href="{% url 'mail.template.update.sparkpost' e.pk %}">
                  {% else %}
                    <a href="{% url 'mail.template.update.django' e.pk %}">
                  {% endif %}
                  <i class="fa fa-edit"></i>
                {% endif %}
                {{ e.title }}
                <br />
                <small>{{ e.slug }}</small>
                {% if not e.is_system %}
                  </a>
                {% endif %}
              </td>
              <td>
                {% if e.is_mandrill %}
                  <a
                    target="_blank"
                    href="https://mandrillapp.com/templates/">
                    Mandrill template
                    <small>({{ e.slug }})</small>
                    <i class="fa fa-external-link"></i>
                  </a>
                  {% if e.help_text %}
                    <br />
                    <small>
                      {{ e.help_text|linebreaksbr }}
                    </small>
                  {% endif %}
                {% elif e.is_sparkpost %}
                  <a
                    target="_blank"
                    href="https://app.sparkpost.com/templates/edit/{{ e.slug }}">
                    Sparkpost template
                    <small>({{ e.slug }})</small>
                    <i class="fa fa-external-link"></i>
                  </a>
                  {% if e.help_text %}
                    <br />
                    <small>
                      {{ e.help_text|linebreaksbr }}
                    </small>
                  {% endif %}
                {% else %}
                  {% if e.subject %}
                    <strong>{{ e.subject }}</strong>
                  {% endif %}
                  {% if e.subject and e.description %}
                    <br />
                  {% endif %}
                  {% if e.description %}
                    {{ e.description|urlize|linebreaksbr }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
