{% extends "mail/base.html" %}

{% block title %}
  Mail messages
{% endblock title %}

{% block sub_heading %}
  Mail messages
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Created</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for e in object_list %}
            <tr valign="top">
              <td>
                {{ e.created|date:'D jS M Y, H:i A' }}
                {% for m in e.mail_set.all %}
                  <br />
                  <small>
                    {{ m.email }}
                    {% if m.sent %}
                      {{ m.sent|date:'d/m/Y H:i' }}
                    {% else %}
                      (<span class="errorlist">pending</span>)
                    {% endif %}
                  </small>
                {% endfor %}
              </td>
              <td>
                {% if e.is_mandrill %}
                  <a
                    target="_blank"
                    href="https://mandrillapp.com/templates/">
                    Mandrill template
                    <small>({{ e.template.slug }})</small>
                    <i class="fa fa-external-link"></i>
                  </a>
                {% else %}
                  <strong>{{ e.subject }}</strong>
                  <br>
                  {% autoescape off %}
                    {{ e.description|urlize|linebreaksbr }}
                  {% endautoescape off %}
                {% endif %}
                {% if e.attachments.count %}
                  <br>
                  <small>
                    <strong>Attachments</strong>
                    {% for attachment in e.attachments %}
                      <br>
                      {{ forloop.counter }}.
                      {{ attachment.path_file }}
                    {% endfor %}
                  <small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
