{% extends "dash/base.html" %}

{% block sub_title %}
  Test Mail Message
{% endblock sub_title %}

{% block sub_heading %}
  Test Mail Message
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
