{% extends "mail/base.html" %}

{% block title %}
  Rejected Emails
{% endblock title %}

{% block sub_heading %}
  Rejected Emails
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% with form=filter.form %}
        {% include '_form_filter.html' %}
      {% endwith %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Email</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Template</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'mail.list' %}?email={{ x.email }}">
                  {{ x.email }}
                </a>
              </td>
              <td>
                {{ x.event_date|date:'d/m/Y H:i' }}
              </td>
              <td>
                {{ x.reason }}
              </td>
              <td>
                {{ x.template }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
