{% extends 'dash/base.html' %}

{% block sub_title %}
  Example Settings
{% endblock sub_title %}

{% block sub_heading %}
  Example Settings
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    {% include 'login/_settings.html' %}
    {% include 'mail/_settings.html' %}
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="pure-g">
        <div class="pure-u-1">
          <h4>Example</h4>
        </div>
      </div>
      <div class="r-box">
        <a href="{% url 'example.enquiry.list' %}" class="pure-menu-link">
          <i class="fa fa-comments-o"></i>
          Enquiries
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
