{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Mail
{% endblock title %}

{% block heading %}
  Mail
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu %}
  {% if user.is_staff %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{% url 'project.settings' %}">
        <i class="fa fa-cog"></i>
        Settings
      </a>
    </li>
  {% endif %}
{% endblock menu %}

{% block footer %}
{% endblock footer %}
